--amethyst-50{
    color: #f7f7ff;
}
--amethyst-100{
    color: #f0efff;
}
--amethyst-200{
    color: #d9d6ff;
}
--amethyst-300{
    color: #c1bdff;
}
--amethyst-400{
    color: #938cff;
}
--amethyst-500{
    color: #655bff;
}
--amethyst-600{
    color: #5b52e6;
}
--amethyst-700{
    color: #4c44bf;
}
--amethyst-800{
    color: #3d3799;
}
--amethyst-900{
    color: #312d7d;
}