--aqua-50{
    color: #f2fdff;
}
--aqua-100{
    color: #e6fbff;
}
--aqua-200{
    color: #bff6ff;
}
--aqua-300{
    color: #99f0ff;
}
--aqua-400{
    color: #4de4ff;
}
--aqua-500{
    color: #00d9ff;
}
--aqua-600{
    color: #00c3e6;
}
--aqua-700{
    color: #00a3bf;
}
--aqua-800{
    color: #008299;
}
--aqua-900{
    color: #006a7d;
}