--azure-50{
    color: #f2f8ff;
}
--azure-100{
    color: #e6f1ff;
}
--azure-200{
    color: #bfddff;
}
--azure-300{
    color: #99c9ff;
}
--azure-400{
    color: #4da0ff;
}
--azure-500{
    color: #0077ff;
}
--azure-600{
    color: #006be6;
}
--azure-700{
    color: #0059bf;
}
--azure-800{
    color: #004799;
}
--azure-900{
    color: #003a7d;
}