--jade-50{
    color: #fcfff2;
}
--jade-100{
    color: #f8ffe6;
}
--jade-200{
    color: #eeffbf;
}
--jade-300{
    color: #e4ff99;
}
--jade-400{
    color: #cfff4d;
}
--jade-500{
    color: #bbff00;
}
--jade-600{
    color: #a8e600;
}
--jade-700{
    color: #8cbf00;
}
--jade-800{
    color: #709900;
}
--jade-900{
    color: #5c7d00;
}
