--jasper-50{
    color: #fffdf2;
}
--jasper-100{
    color: #fffae6;
}
--jasper-200{
    color: #fff3bf;
}
--jasper-300{
    color: #ffec99;
}
--jasper-400{
    color: #ffde4d;
}
--jasper-500{
    color: #ffd000;
}
--jasper-600{
    color: #e6bb00;
}
--jasper-700{
    color: #bf9c00;
}
--jasper-800{
    color: #997d00;
}
--jasper-900{
    color: #7d6600;
}