--kunzite-50{
    color: #FAF8FF;
}
--kunzite-100{
    color: #F6F0FF;
}
--kunzite-200{
    color: #E8DAFF;
}
--kunzite-300{
    color: #DBC4FF;
}
--kunzite-400{
    color: #BF98FF;
}
--kunzite-500{
    color: #A46CFF;
}
--kunzite-600{
    color: #9461E6;
}
--kunzite-700{
    color: #7B51BF;
}
--kunzite-800{
    color: #624199;
}
--kunzite-900{
    color: #50357D;
}
