--moonstone-50{
    color: #FFFEFD;
}
--moonstone-100{
    color: #FEFDFB;
}
--moonstone-200{
    color: #FDF9F4;
}
--moonstone-300{
    color: #FBF5ED;
}
--moonstone-400{
    color: #F9EEE0;
}
--moonstone-500{
    color: #F6E7D2;
}
--moonstone-600{
    color: #DDD0BD;
}
--moonstone-700{
    color: #B9AD9E;
}
--moonstone-800{
    color: #948B7E;
}
--moonstone-900{
    color: #797167;
}