--peridot-50{
    color: #f6fff2;
}
--peridot-100{
    color: #eeffe6;
}
--peridot-200{
    color: #d4ffbf;
}
--peridot-300{
    color: #b9ff99;
}
--peridot-400{
    color: #85ff4d;
}
--peridot-500{
    color: #51ff00;
}
--peridot-600{
    color: #49e600;
}
--peridot-700{
    color: #3dbf00;
}
--peridot-800{
    color: #319900;
}
--peridot-900{
    color: #287d00;
}