--ruby-scarlet-50{
    color: #fff2f8;
}
--ruby-scarlet-100{
    color: #ffe6f0;
}
--ruby-scarlet-200{
    color: #ffbfda;
}
--ruby-scarlet-300{
    color: #ff99c3;
}
--ruby-scarlet-400{
    color: #ff4d97;
}
--ruby-scarlet-500{
    color: #ff006a;
}
--ruby-scarlet-600{
    color: #e6005f;
}
--ruby-scarlet-700{
    color: #bf0050;
}
--ruby-scarlet-800{
    color: #990040;
}
--ruby-scarlet-900{
    color: #7d0034;
}
