--russian-50{
    color: #f3f3f4;
}
--russian-100{
    color: #e7e7e9;
}
--russian-200{
    color: #c2c3c9;
}
--russian-300{
    color: #9e9fa9;
}
--russian-400{
    color: #555768;
}
--russian-500{
    color: #0c0f27;
}
--russian-600{
    color: #0b0e23;
}
--russian-700{
    color: #090b1d;
}
--russian-800{
    color: #070917;
}
--russian-900{
    color: #060713;
}