--scarlet-50{
    color: #fff2f4;
}
--scarlet-100{
    color: #ffe6e9;
}
--scarlet-200{
    color: #ffbfc8;
}
--scarlet-300{
    color: #ff99a7;
}
--scarlet-400{
    color: #ff4d65;
}
--scarlet-500{
    color: #ff0023;
}
--scarlet-600{
    color: #e60020;
}
--scarlet-700{
    color: #bf001a;
}
--scarlet-800{
    color: #990015;
}
--scarlet-900{
    color: #7d0011;
}
