--stratos-50{
    color: #f3f3f5;
}
--stratos-100{
    color: #e7e7ec;
}
--stratos-200{
    color: #c4c2cf;
}
--stratos-300{
    color: #a09db2;
}
--stratos-400{
    color: #595478;
}
--stratos-500{
    color: #120a3e;
}
--stratos-600{
    color: #100938;
}
--stratos-700{
    color: #0e082f;
}
--stratos-800{
    color: #0b0625;
}
--stratos-900{
    color: #09051e;
}