--sunstone-50{
    color: #fffbf4;
}
--sunstone-100{
    color: #fff6e9;
}
--sunstone-200{
    color: #ffe9c9;
}
--sunstone-300{
    color: #ffdca8;
}
--sunstone-400{
    color: #ffc266;
}
--sunstone-500{
    color: #ffa825;
}
--sunstone-600{
    color: #e69721;
}
--sunstone-700{
    color: #bf7e1c;
}
--sunstone-800{
    color: #996516;
}
--sunstone-900{
    color: #7d5212;
}