 --sylver-50{
    color: #fefefe;
  }
    --sylver-100{
        color: #fcfdfe;
    }
    --sylver-200{
        color: #f8f9fb;
    }
    --sylver-300{
        color: #f3f6f9;
    }
    --sylver-400{
        color: #ebeff5;
    }
    --sylver-500{
        color: #e2e8f0;
    }
    --sylver-600{
        color: #cbd1d8;
    }
    --sylver-700{
        color: #aaaeb4;
    }
    --sylver-800{
        color: #888b90;
    }
    --sylver-900{
        color: #6f7276;
    }